# Dependencies
node_modules

# Build output
build
dist

# Environment variables
.env
.env.*
!.env.example

# Docker specific files
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*